extends header

block navbar

    #sidebar-wrapper
        //- ul.sidebar-nav
        //-     li.sidebar-brand.can-not-active
        //-         i.icon-playsymbol-48-xl
        //-     li.active
        //-         a
        //-             i.nav-icon.icon-live-tv-xl
        //-             .section-title Home
        //-     li
        //-         a
        //-             i.nav-icon.icon-epg-xl
        //-             .section-title Work
        //-     li
        //-         a
        //-             i.nav-icon.icon-recordings-xl
        //-             .section-title About
        //-     li
        //-         a
        //-             i.nav-icon.icon-settings-xl
        //-             .section-title Contact